p, h2 {
    text-align: left;
}

#back {
    text-align: center;
}

#instructions_title {
    min-width: 330px;
}

#instructions {
    width: 50vw;
}

@media screen and (orientation:portrait) {
    #instructions {
        width: 90vw;
    }
}
