#play_body {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#completed_screen {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(176, 25, 126, .90);
}

#gif_fireworks {
    width: 100vw;
    height: 100vh;
}

#completed_message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 2.5vw;
}

#completed_button {
    border: none;
    background: transparent;
    font-size: 2.5vw;
    font-family: 'Times New Roman', Times, serif;
}

#completed_button:hover, #completed_button:active {
    color: var(--CSHRed);
 }

#play_title {
    min-width: 230px;
}

#size_input {
    display: none;
    padding-bottom: 20px;
    text-align: center;
}

#row_input {
    margin-right: 5px;
}

#col_label {
    margin-left: 5px;
}

#col_input {
    margin-right: 5px;
}

#sub_input {
    margin-left: 5px;
}

@media screen and (max-width: 367px) {
    #size_input {
        padding-bottom: 10px;
    }

    #row_label {
        margin-left: 5px;
    }
    
    #sub_input {
        margin-left: 0px;
        margin-top: 5px;
    }
}

@media screen and (min-width: 255px) {
    #size_input {
        display: block;
    }
}

#maze {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}

#maze_canvas {
    border: 2px solid black;
    border-block-color: black;
}

#img_d-pad {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#hidden_images {
    display: none;
}
