#completed_screen {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vw;
    z-index: 1;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(176, 25, 126, .90);
}

#completed_message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 2.5vw;
}

#completed_button {
    border: none;
    background: transparent;
    font-size: 2.5vw;
    font-family: 'Times New Roman', Times, serif;
}

#completed_button:hover, #completed_button:active {
    color: var(--CSHRed);
 }

#play_title {
    min-width: 230px;
}

#size_input {
    display: none;
    padding-bottom: 20px;
}

#row_input {
    margin-right: 5px;
}

#col_label {
    margin-left: 5px;
}

#col_input {
    margin-right: 5px;
}

#sub_input {
    margin-left: 5px;
}

@media screen and (min-width: 250px) {
    #size_input {
        display: block;
    }
}

#maze {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}

@media screen and (max-width: 500px) {
    #maze {
        /*flex-direction: column;*/
    }
}

#maze_canvas {
    border: 2px solid black;
    border-block-color: black;
}

#d_pad {
    
}

#hidden_images {
    display: none;
}
