#play_title {
    min-width: 230px
}

#size_input {
    display: none;
    padding-bottom: 20px;
}

#row_input {
    margin-right: 5px;
}

#col_label {
    margin-left: 5px;
}

#col_input {
    margin-right: 5px;
}

#sub_input {
    margin-left: 5px;
}

@media screen and (min-width: 250px) {
    #size_input {
        display: block;
    }
}

#maze {
    /* Later */
}

#maze_canvas {
    border: 2px solid black;
    border-block-color: black;
}

#d_pad {

}

#hidden_images {
    display: none;
}
