:root {
    --CSHPurple: #B0197E;
    --CSHRed: #E11C52;
}

body {
    background-color: var(--CSHPurple);
}

h1, h2, p {
    text-align: center;
}

.center {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

a:link, a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
a:hover, a:active {
    color: var(--CSHRed);
    background-color: transparent;
    text-decoration: none;
}

#main_title {
    min-width: 180px;
}
